{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><em>I graduated from <strong><a href="https://www.arabou.edu.sa/Pages/default.aspx">AOU</a></strong> and self studying python and HTML-java script</em></p>
        <p>An IT graduate at the university of Arab Open University AOU has experience in programming in different programming languages. Possess skills in developing IOS/Android apps using Flutter, programming in python, dart, java and basic HTML and PHP, having enough algorithm and data structure skills. Keen to pursue a career in app development.</p>
        <p>I have programmed this blog as a part of the 100-Day Python programming Challenge, Which is a very interesting course. That course has helped me alot in progressing and learning new things about python.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}